@import "tailwindcss";

@theme {
  --color-bg: #efefef;
  --color-ink: #222222;

  --font-sans: var(--font-archivo);
  --font-display: var(--font-inter);
  --font-logo: var(--font-danfo);
  --font-mono-label: var(--font-audiowide);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-ink);
}